*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 3% 1.5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
}
.item{
    background-color: #ffa600;
    width: 30%;
    border-radius: 5%;
    margin-bottom: 3%;
}
.item:before{
    content: "";
    display: block;
    padding-top: 100%;
}