body{
    background: #fafafa;
}
.three{

    color: darkgreen;
}
.two{
    font-size: 20px;
}
.one{
    height: 50px;
    width: 100%;
    margin: 20px 0;
    border-bottom-style: groove;
}
.direction{
    color: darkgray;
}
.six{
   padding: 5px;
}
a:hover{
    color: #fff;
    background: #29b078;
}
a{
    text-decoration: none;
    color: black;
}
.position{
    height: 50px;
}
.develop{
    height: 40px;
    margin: 30px 0;
    border-bottom-style: groove;
}
.list{
    height: 108px;
    border-bottom-style: ridge;
    border-bottom-color: currentColor;
}
.cfo{
    float: left;
    margin: 15px 0;
}
.ceo{
    float: left;

}
.script{
    font-size: 20px;
    font-weight: bold;
}
.script2{
    display: block;
}
.script3{
    color: darkgrey;
    line-height: 40px;
}
.list2{
    float: left;
    width: 50%;
    height: 40px;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-bottom-color: currentColor;
}
.list3{
    width: 50%;
    height: 40px;
    border-bottom-style: ridge;
    border-bottom-color: currentColor;
    float: right;
}
.script4{
    line-height: 40px;
    color: darkgrey;
}
.scriptone{
    color: crimson;
}
.scripttwo{
    color: black;
}
.list4{
    float: left;
    height: 120px;
    width: 40%;
    border-bottom-style: ridge;
    border-bottom-color: currentColor;
    border-right-style: ridge;
}
.script5{
    line-height: 120px;
    text-align: center;
    color: darkgrey;
}
.list5{
    float: right;
    width: 60%;
    height: 40px;
    border-bottom-style: ridge;
    border-bottom-color: currentColor;
}
.script6{
    line-height: 40px;
}
.script7{
    float: right;
}
.list6{
    float: left;
    height: 40px;
    width: 100%;
    border-bottom-style: ridge;
    border-bottom-color: currentColor;
    font-weight: bold;
}
.script8{
    line-height: 40px;
}
.script9{
    color: crimson;
}
.list7{
    float: left;
    height: 40px;
    width: 100%;
    color: darkgray;
}
.hover{
  position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: none;
}
.cfo:hover .hover{
    display: block;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s; /* Firefox */
    -webkit-animation:myfirst 5s; /* Safari and Chrome */
    -o-animation:myfirst 5s; /* Opera */
}
@keyframes myfirst
{
    0%   {background:rgba(0, 0, 0, 0.3);left:0; top:0;}
    25%  {background:rgba(0, 0, 0, 0.3); left:50px; top:0;}
    50%  {background:rgba(0, 0, 0, 0.3); left:50px; top:50px;}
    75%  {background:rgba(0, 0, 0, 0.3); left:0; top:50px;}
    100% {background:rgba(0, 0, 0, 0.3); left:0; top:0;}
}
.hover1{
    font-size: 30px;
    margin: 50px 0;
    text-align: center;
}
.hover2{
    margin: 0 15px;
}

