body{
    margin: 0;
    background: #fafafa;
}
.picture{
    color: #ffffff;
    font-size: 15px;
}
.script1{
    float: right;
    color: #FFFFFF;
    border: 1px solid #267bd8;
    border-width: 0 1px;
}
.script2{
    float: right;
    color: #FFFFFF;
    border: 1px solid #267bd8;
    border-width: 0 1px;
}
.background{
    background: #267bd8;
}
.script1:hover{
    border: 1px solid #fff;
    border-width: 0 1px;
}
.script2:hover{
    border: 1px solid #fff;
    border-width: 0 1px;
}
.top-nav-box .navbar-default
{
    margin: 0;
    border: 0;
    background: #fafafa;
}
@media screen and (min-width: 768px)
{
    .top-nav-box .navbar-nav
    {
        float: right;
    }
}
.top-nav-box .navbar-default .navbar-nav > li
{
    padding: 30px;
}
.top-nav-box .navbar-default .navbar-nav > li:last-child
{
    padding-right: 0;
}
@media screen and (max-width: 991px)
{
    .top-nav-box .navbar-default .navbar-nav > li
    {
        padding: 5px 30px;
    }
    .top-nav-box .navbar-default .navbar-nav > li:last-child
    {
        padding-right: 30px;
    }
}

.top-nav-box .navbar-default .navbar-nav > li > a
{
    font-size: 1.6rem;
    padding: 10px;
    color: #333;
    background: #fff;
}
@media screen and (max-width: 991px)
{
    .top-nav-box .navbar-default .navbar-nav > li > a
    {
        text-align: center;
    }
}
.top-nav-box .navbar-nav > li > a:hover
{
    color: #fff;
    background: #1d7ad9;
}



.top-nav-box .navbar-collapse
{
    padding: 0;

    border: 0;
}

.top-nav-box .navbar-default .navbar-nav > .active > a
{
    border-bottom: 4px solid #fff;
    background-color: #29b078;
}
.top-nav-box .navbar-default .navbar-nav > .active > a:hover,
.top-nav-box .navbar-default .navbar-nav > .active > a:focus
{
    color: #fff;
}

.top-nav-box .navbar-toggle .icon-bar
{
    width: 20px;
    height: 4px;
}

.top-nav-box .navbar-toggle .icon-bar + .icon-bar
{
    margin-top: 4px;
}

.top-nav-box .navbar-default .navbar-toggle
{
    margin: 11px 15px 11px 0;

    border: 0;
    background: #f9f9f9;
}

.top-nav-box .navbar-default .navbar-toggle:hover
{
    background: #fff;
}
.navbar-nav{
    margin: 7.5px 1px;
}
@media screen and (max-width: 1000px)
{
    .col-sm-6 {
        float: right;
        width: 20%;
    }
}
.span1{
    width: 2px;
    height: 15px;
    float: left;
    background: #03A9F4;
}
.span2{
    margin: 0 10px;
    font-size: 15px;
}
.left1{
    background: #f2f2f2;
    border-style: groove;
    border: 1px groove;
    border-width: 1px 1px 0 1px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
}
.color{
    margin: 0 10px;
    color: #267bd8;
}
.rudle{
    height: 15px;
    width: 15px;
    background: #FFFFFF;
    line-height: 40px;
    border-radius: 50%;
    border-style: solid;
    border-color: #9E9E9E;
    display: inline-flex;
}
.span3{
    margin: 0 10px;
}
.right1{
    line-height: 80px;
    float: right;
}
.rudle:hover{
    background: #267bd8;
}
.line{
    text-align: center;
    line-height: 80px;
    padding: 0;
    margin: 0;
    border: 1px groove;
    border-width: 0 1px 0 1px;
}
.input{
    height: 20px;
    width: 40px;
}
.you{
    margin-top: 20px;
    margin-bottom: 5px;
}
.center{
    text-align: center;
    margin-top: 140px;
    line-height: 30px;
}
.text{
    padding: 5px 30px;
    border: 0;
    color: #ffffff;
    background: #cd484c;
}
.four{
    display: flex;
    justify-content: flex-end;
}
.four2{
    margin: -1px;
    width: 13%;
}
.four3{
    position: relative;
    height: 50px;
}
.four4{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 5px;
    background: silver;
    border-radius: 10px;
}
.four5{
    position: absolute;
    top: 35%;
    left: 40%;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: silver;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
}
.four6{
    width: 100%;
    color: silver;
    text-align: center;
}

.four2:hover .four4{
    background: #ffb227;
}

.four2:hover .four5{
    background: #ffb227;
}

.four2:hover .four6{
    color: #ffb227;
}

@media only screen and (max-width: 900px){
    .four2{
        width: 25%;
    }
}
.wb{
    background: #9e9e9e14;
}
.logo{
    text-align: center;
    color: #FFFFFF;
    background: #03A9F4;
    font-size: 18px;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.link{
    color: #9E9E9E;
    text-decoration: none;
    margin-right: 30px;
    float: left;
}
.picture9{
    font-size: 18px;
    margin-top: 20px;
}
.kklt{
    width: 100px;
    height: 100px;
}
.right2{
    height: 110px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 25px;
}
.col-md-2{
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.line2{
    text-align: center;
    line-height: 80px;
    padding: 0;
    margin: 0;
    border: 1px groove;
    border-width: 1px;
}
.left2{

    background: #f2f2f2;
    border-style: groove;
    border: 1px groove;
    border-width: 0 1px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
}
.container{
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 900px){
    .container{
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (max-width: 1014px){
    .col-md-2{
  width: 100%;
    }
}
@media only screen and (max-width: 900px){
    .right1{
        margin: 0;
        text-align: center;
    }
}
.line6{
    border: 1px groove;
    border-width: 1px;
    height: 300px;
    text-align: center;
    line-height: 80px;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 1014px){
    .line6{
        height: 600px;
    }
}
@media only screen and (max-width: 1014px){
    .right1{
        float: none;
    }
}
select {
    /*很关键：将默认的slect选择框样式清除*/
    -moz-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../img/task10-7.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}