body{
    margin: 0;
}
.go{
    width: 100%;
    height: 60px;
    background: #34bede;
    text-align: center;
    line-height: 60px;
    border-bottom-style: solid;
    color:azure;
    position: relative;
    border-bottom-width: 0.1px;
}
.picture1{
    height: 30px;
    width: 37px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%,-50%);
}
.picture2{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%,-50%);
}
.script1{
    color: aliceblue;
}
.centre{
    width: 100%;
    height: 20rem;
    background: #34bede;
    text-align: center;
}
.picture3{
    height: 108px;
    width: 174px;
    margin: 10px;
}
.script2{
    position: absolute;
    top: 170px;
    color: #fbc86c;
    margin: 20px 40px;
    font-size: 15px;
    text-align: center;
}
.sequence{
    font-size: 12px;
    color: aliceblue;
    position: absolute;
    top: 17rem;
    margin: 0 40px;
}
.step{
    margin: 3px;
}
.line{
    margin: 0;
    color: aliceblue;
}
.include{
    margin: 0 0 0 40px;
}
.script{
    margin: 3px 0 15px 0;
    color: darkgray;
    font-size: 13px;
}
.script23{
    margin: 0 100px 0 0;
    font-size: 18px;
}
.script-x{
    margin: 10px 0 0 0;
    color: darkgray;
    font-size: 13px;
}
.script-y{
    color: darkgray;
    font-size: 12px;
}
.button{
    height: 60px;
    background: rgba(100,199,243,0.7);
    width: 100%;
    text-align: center;
    border: 1px solid #8b44;
    line-height: 60px;
    position: fixed;
    bottom: 0;
}
.one{
    height: 40px;
    width: 35vw;
    font-size: 18px;
    margin: 0 10% 0 0;
    background: #f37072;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid #8b44;
}
.two{
    height: 40px;
    width: 35vw;
    font-size: 18px;
    margin: 0 0 0 10%;
    background: #f8b445;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid #8b44;
}
.line-x{
    margin: 0;
    color: aliceblue;
    padding-bottom: 100px;
}
.ten{
    text-decoration:none;
    color: aliceblue;
}