
  $background: #00BCD4;
  $text-align: center;
  $height:80px;
  $line-height:80px;
  $width:75%;
  $font-size:25px;

body{
  background: #e1e5e7;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
.top{
  background: $background;
  height: 50px;
}
.list{
  width: $width;
  background: $background;
  height: $height;
  line-height: $line-height;
  text-align: $text-align;
  margin: 0 auto;
}
.picture{
  color: #ffffff;
  font-size: $font-size;
}
.arrow1{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 .3rem 0 .21rem;
  border-top: 2px solid #9E9E9E;
  border-right: 2px solid #9E9E9E;
  transform: rotate(45deg);
  position: relative;
  left: 10px;
}
.frame1{
  width: 90%;
  height: 80px;
  background: #ffffff;
  left: 45px;
  text-align: center;
  margin: 15px auto;
}
.script1{
  color: darkgray;
  font-size: $font-size;
  line-height: 80px;
}
.script2{
  text-align: $text-align;
  color: #f8b547;
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}
.background1{
  background: #ffffff;
  width: 90%;
  margin: 0 auto;
  height: 45rem;
}
.script{
  text-align: center;
  color: #9b9c9d;
}
.radius{
  width: 20px;
  height: 20px;
  background: darkgray;
  border-radius: 50%;
  float: left;
  margin: 20px 5px;
}
.center{
  position: relative;
  left: calc(50% - 60px);
}
.radius:hover{
  background: $background;
}
.triangle{
  width: 0;
  height: 0;
  border-width: 15px 0 20px 15px;
  border-style: solid;
  border-color: transparent transparent transparent #FF9800;
  position: relative;
  display: inline-block;
  left: 45%;
  top: 10px;
}
p{
  margin: 10px 0;
}
  *{
    margin:0;
    padding:0;
  }
  .div1{
    width: 250px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -554px;
  }

  .one{
    border-radius: 50px;
    border: 1px groove #3dbddb;
    width: 30px;
    margin: 15px 0 0 20px;
    float: left;
    line-height: 30px;
    text-align: center;
  }
  hr{
    margin-top: 5px;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid black;
  }
  .picture6{
    margin: 18px 0 10px 70px;
    color: #3DBDDB;
    font-size: 19px;
  }
  .arrow{
    display: inline-block;
    float: right;
    width: 15px;
    height: 15px;
    border-top: 2px solid #3DBDDB;
    border-right: 2px solid #3DBDDB;
    transform: rotate(45deg);
    margin: -30px 30px 0 0;
  }
  img{
    width: 20px;
    height: 20px;
  }
  .two{
    width: 5px;
    height: 20px;
  }
.whole1:checked ~ .div1{
  margin-left: 100px;
}

.whole1:checked ~ .whole2{
  margin-left: 250px;
}