*{
       margin: 0;
         padding: 0;
     }
.main{
           transform: rotate(45deg);
          margin: 300px;
       }
.disc1{
         width: 100px;
      height: 100px;
         border:1px solid red;
        background-color: red;
         margin:300px 0 0 300px;
         border-radius:100%;
         float:left;
       }
.disc2{
       width: 100px;
       height: 100px;
       border:1px solid red;
       background-color: red;
       margin:250px 0 0 0;
       border-radius:100%;
       float:left;
       position: relative;
           right: 50px;
        }
.square{
            width: 100px;
            height: 100px;
            border:1px solid red;
           background-color: red;
           margin: 300px 0 0 0;
           float: left;
           position: relative;
            right: 152px;
        }