body{
    margin: 0;
    background: #fafafa;
}
.day{
    height: 50px;
    width: 100%;
    background: #ffffff;
}
.sprite{
    background: url(../img/task8-1.1.png) no-repeat;
    background-size:36px 12px;
    display: inline-block;
}
.sprite1{
    height:12px;
    width:12px;
    background-position:0 0;
}
.sprite2{
    height:12px;
    width:12px;
    background-position:-12px 0;
}
.sprite3{
    height: 12px;
    width: 12px;
    background-position: -24px 0;
}
.picture{
    height: 16rem;
    width: 100%;
}
.one{
    background: url("../img/task8-1.2.png");
}
.home{
    height: 60px;
    width: 100%;
    background: #29b078;
}
.container{
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.picture1{
    float: right;
}
.bz1{
    color: #29b078;
}
.button1{
    float: right;
    line-height: 58px;
}
.ho{
    background: #29b378;
    border: none;
    text-decoration: underline;
    color: aliceblue;
}
.kla{
    height: 60px;
    width: 100%;
    background: #29b078;
}
.navbar-default{
    border-color: #e7e7e7;
    margin: 0;
    background-color: #29b378;

}
.navbar{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.carousel {
    position: relative;
}
.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    float: right;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
        float: left;
    border-bottom: 2px solid;
}
.navbar-nav{
    border-bottom: 2px solid;
}
.navbar-collapse{
    background: #28b349;
}
.navbar{
    margin: 0;
    background: #28b349;
}
.yz{
    background: #28b349;
}

.navbar-default{
    background: #28b349;
    color: #e7e7e7;
}
.col-sm-3{
    width: 21%;
    text-align: center;
    margin: 2%;
}
.picture6{
    vertical-align: middle;
    height: 60px;
}
.picture7{
    vertical-align: middle;
    height: 60px;
    border-right-style: ridge;
}
script{
    color: darkgrey;
}
.col-sm-9{
    width: 100%;
}
.hello{
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}
.col-sm-6{
    width: 21%;
}
.primary{
    border-radius: 100%;
}
.p1{
    background: azure;
}
.p2{
    height: 100px;
    width: 100px;
    background: azure;
    text-align: center;
    line-height: 100px;
    border-radius: 100%;
}
.p3{
    line-height: 127px;
}
.triangle{
    width: 20px;
    height: 20px;
}
.center{
    font-size: 30px;
    text-align: center;
}
.p9{
    width: 20%;
    height: 120px;
    background: azure;
    text-align: center;
}
.row{
    text-align: center;
    width: 100%;
    margin: 10px -15px;
}
.p5{
    display: flex;
    align-items: center;
}
.col-md-2{
    width: 20%;
    background: #ffffff;
    height: 180px;
    text-align: center;
    line-height: 180px;
}
.primary{
    margin: 10px 0;
}
.p4{
    width: 23%;
    height: 300px;
    background: #ffffff;
    margin: 8px;
}
.boottom{
    text-align: center;
    height: 180px;
    background: #ffffff;
    margin: 15px 0;
    color: darkgrey;
    font-size: 8px;
}
.col-md-1{
    width: 10%;
}
.hei{
    font-size: 18px;
    color: black;
}