body{
    padding: 0;
    margin: 0;
}
.square1 {
    width: 30%;
    margin: 1%;
    padding-bottom: 30%;
    float: left;
    border: 2px solid #a1a1a1;
    border-radius: 25px;
    background: url(../img/qusiba.jpg) no-repeat ;
    background-size: contain;
}



