body{
    margin: 0;
    padding: 0;
}
main{
    height: 350px;
}
header{
    background: #29b078;
    text-align: center;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
}
footer{
    background: #29b078;
    text-align: center;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
}