body{
    padding:0;
    margin: 0;
    background: #00CED1;
}
.square1{
    width: 30%;
    height: 30%;
}
.arrow{
    transform: scale(2);
    margin: 46px;
}
.logo{
    display: block;
    margin: 10rem auto 11rem;
}
.div {
    float: right;
    margin: 10%;

}
.c{
    float: right;
    margin: 100px;
}
.b{
    float: left;
    margin: 100px;
}
.z{
    transform: scale(2);
    margin: 35%;
}
.y{
    transform: scale(2);
    margin: 35%;
}
